*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.card{
    &__item{
        width: 70%;
        padding: 20px 0;
        cursor: pointer;
        border-bottom: 2px solid black;
        &.open{
            .card__item-desc{
                max-height: 1000px;
                transition: all .5s;
            }
            .arrow{
                transform: rotate(180deg);
                transition: all .5s;
            }
        }
        &-main{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .arrow{
                transition: all .5s;
            }
        }
        &-desc{
            max-height: 0px;
            overflow: hidden;
            transition: all .5s;
        }
    }
}